{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="shortcut icon" href="{% static '/images/favicon.png' %}" type="image/png">
    <title>GetGoods - {% block title %}{% endblock %}</title>
</head>
<body>

<nav>



</nav>

{% block main %}{% endblock %}

</body>
</html>