html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 2.5rem;
}

.logo {
  font-size: 1.75rem;
  font-weight: 900;
  border-top: solid 2px #cecece;
  border-bottom: solid 2px #cecece;
  line-height: 1.75rem;
  margin: 1.125rem 0;
  text-decoration: none;
  color: #333;
}

.top-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.top-menu li {
  margin-left: 1rem;
}

.menu-item a {
  color: #6c757d;
  text-decoration: none;
}

.menu-item a:hover {
  color: #343a40;
}

.menu-item_goods-counter {
  font-size: 0.75rem;
  font-weight: 700;
  color: white;
  background-color: #6c757d;
  margin-left: 0.2rem;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
}

main {
  display: flex;
  flex-direction: row;
}

.main-login {
  height: 100%;
  justify-content: center;
  align-items: center;
}

.login-form {
  box-sizing: border-box;
  width: 500px;
  border: solid 1px #838383;
  border-radius: 4px;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 68px;
}

.login-form label {
  margin-bottom: 0.5rem;
  font-size: 0.9375rem;
  font-weight: 700;
}

.login-form input {
  margin-bottom: 0.625rem;
  padding: 0.625rem 1rem;
  font-size: 0.9375rem;
  font-weight: 400;
  border: solid 1px #cecece;
  border-radius: 0.25rem;
}

.login-form input:last-of-type {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: white;
  background-color: #1e88e5;
  padding: 0.875rem;
}

.form-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}